body {
    color: darkslategray;
    font-size: 75%;
    font-family: "MS PGothic", Arial, "Hiragino Kaku Gothic ProN", "Osaka", sans-serif
}

a, a:visited {
    color: #1d3994;
    text-decoration: none;
}

a:hover {
    color: #3dD9E4;
    text-decoration: underline;
}

.clear {
    clear:both;
}

.box {
    border: solid 1px #96CC66;
    background-color: #ECFFEF;
}

ul.searchswitch {
    list-style: none;
    padding: 0;
}

ul.searchswitch li {
    display: inline;
}

img {
    width: 300px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#searchbox {
}

#navi {
    float: left;
    width: 170px;
}

#main {
    float: left;
    width: 433px;
}

#sub {
    float: right;
    width: 332px;
}


