body {
    color: darkslategray;
    font-size: 75%;
    font-family: "MS PGothic", Arial, "Hiragino Kaku Gothic ProN", "Osaka", sans-serif
}

a, a:visited {
    color: #1d3994;
    text-decoration: none;
}

a:hover {
    color: #3dD9E4;
    text-decoration: underline;
}

h2 {
    font-size: 100%;
}

.clear {
    clear:both;
}

ul.inlinestyle {
    list-style: none;
    padding: 0;
}

ul.inlinestyle li {
    display: inline;
}

.box {
    border: solid 1px #96CC66;
    background-color: #ECFFEF;
}

img {
    width: 300px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#searchbox {
}

#navi {
    float: left;
    width: 170px;
}

#navi h2 {
    margin: 0;
    font-weight: normal;
    padding: 3px 7px 2px;
    background-color: white;
}

#navi ul {
    margin: 0;
}

#navi .box {
    margin-bottom: 4px;
}

#contentbox ul {
    list-style: none;
    padding: 2px;
    margin: 0;
}

#contentbox li{
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    line-height: 22px
}

#contentbox .shopping {
    background-image: url('../img/shopping.png');
}

#contentbox .auction {
    background-image: url('../img/auction.png');
}

#contentbox .travel {
    background-image: url('../img/travel.png');
}

#contentbox .news {
    background-image: url('../img/news.png');
}

#contentbox .weather {
    background-image: url('../img/weather.png');
}

#companybox ul {
    padding: 3px;
    line-height: 1.1;
}

#main {
    float: left;
    width: 433px;
}

#sub {
    float: right;
    width: 332px;
}


